.App {
  text-align: center;
}

.Header {
  position: sticky;
  width: calc(100% - 300px);
  padding: 10px 0px 10px 0px;
  background-color:#F2DEBD;
  z-index: 1;
  top: 0px;
  float: right;
  text-align: right;
}

.Sidebar {
  position: fixed;
  height: 100vh;
  width: 300px;
  display: block;
  background-color:#E2C18B;
  overflow: auto;
  left: 0;
  float: left;
}

.User-box {
  top: 0;
  background-color: #BF8176;
  height: 80px;
}

.User-box h3 {
  margin: 0px;
}

.Club {
  display: flexbox;
  text-align: left;
  height: 100px;
  position: relative;
  padding: 10px;
}

.Club .content {
  position: absolute;
  height: 60px;
  top: 5px;
  left: 95px;
}

.Avatar {
  height: 80px;
  width: 80px;
  float: left;
}