.App {
  text-align: center;
}

.Avatar {
  height: 80px;
  width: 80px;
  float: left;
}

.Navlink {
  width: 100px;
  height: 15px;
  padding: 5px;
  margin: 5px 6px 6px;
  text-decoration: none;
  color: black;
  border-radius: 10px;
}

.Navlink:hover {
  color: white;
  background: #4F7178;
}

.Sidebar {
  position: fixed;
  height: 100vh;
  width: 300px;
  display: block;
  background-color:#E2C18B;
  overflow: auto;
  left: 0;
  float: left;
}

.User-box {
  top: 0;
  background-color: #BF8176;
  height: 80px;
}

.User-box h3 {
  margin: 0px;
}

.Club {
  height: 100px;
  position: relative;
  padding: 10px;
}

.content {
  position: absolute;
  height: 60px;
  top: 5px;
  left: 95px;
}

.card-comment {
  height: 80px;
  margin: 5px;

}

.card-comment:hover,
.Book:hover,
.Club:hover {
  background: #E4AF8E;
  border-radius: 10px;
}

.Thread-card {
  background-color: #E2C18B;
  border-radius: 10px;
}

.Thread-card h3 {
  padding: 10px;
  text-align: center;
  width: auto;
  height: auto;
  color: white;
  background: #4F7178;
  border-radius: 10px;
}

.Book {
  height: 16em;
  padding: 1em;
}

.details {
  margin-top: 4em;
}

.Book img {
  float: left;
  height: 16em;
  width: 11em;
  margin-right: 1em;
}