.App {
  text-align: center;
}

.App-header {

}

.Sidebar {
  margin: 0;
  width: 200px;
  display: block;
  background-color:#E2C18B;
  height: 100vh;
  overflow: auto;
  float: left;
}

.User-box {
  background-color: #BF8176;
}